{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image"
  style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white font-weight-bold">Final Step</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Add your skills to boost your profile</strong></span>
        </div>
        {% include 'messages.html' %}


        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ field.label|capfirst }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="site-section">
<!--  form start-->

   <form method="POST" action="" class="p-4 border rounded">
          {% csrf_token %}
          {% for field in form %}


          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
              <input class="col-md-12" type="text" placeholder="{{ field.field.widget.attrs.placeholder }}"  name="{{ field.name }}" id="id_{{ field.name }}" class="form-control" value="" data-role="tagsinput" required />
            </div>
          </div>





<!--          start modifications-->

<!--          end modifications-->
          {% endfor %}
          <div class="row form-group">
            <div class="col-md-12">
              <input type="Submit" value="submit new skill" class="btn px-4 btn-primary text-white trigger-btn">
            </div>
          </div>

        </form>

<!--  form end-->


</section>


{% endblock %}