{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image"
  style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white font-weight-bold">Add a new CV</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Cv successfully created</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
<div class="jumbotron text-center">
  <h1 class="display-3">Your CV is created with success!</h1>
  <p class="lead"> Please feel free to strengthen your cv by adding <strong>Experiences, formations, skills</strong></p>
  <hr>
  <p>
    Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="{% url 'jobapp:dashboard' %}" role="button">Continue to Dashboard</a>
  </p>
</div>
</section>

{% endblock %}