{% extends 'base.html' %}
{% load static %}
{% load get_total_applicant %}
{% block content %}

<section class="section-hero overlay inner-page bg-image"
    style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Dashboard</h1>
                <div class="custom-breadcrumbs">
                    <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
                    <a href="{% url 'jobapp:job-list' %}">Job</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Dashboard</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            {%if user.image.url is not null %}
                            <img src="{{user.image.url}}" alt="somthing went wrong sorry"/>
                            {%else%}
                            <img src="https://img.favpng.com/7/5/8/computer-icons-font-awesome-user-font-png-favpng-YMnbqNubA7zBmfa13MK8WdWs8.jpg" alt="somthing went wrong sorry"/>
                            {%endif%}

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    {% ifequal user.role 'employer'  %}
                                    <h5>
                                        {{user.first_name}}
                                    </h5>
                                    {%else%}
                                    <h5>

                                        {{user.first_name}}  {{user.last_name}}
                                    </h5>
                                    {%endifequal%}
                                    <h6>
<!--                                        Web Developer and Designer-->
                                    </h6>
                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
<!--                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile">-->
                        {% ifequal user.role 'employee'  %}
                        <a class="profile-edit-btn" name="btnAddMore" href="{% url 'account:edit-profile' request.user.id %}">Edit Profile</a>
                        {% else %}
                        <a class="profile-edit-btn" name="btnAddMore" href="{% url 'jobapp:employer-edit-profile' request.user.id %}">Edit Profile</a>
                        {% endifequal %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>WORK LINK</p>
                            <a href="">Website Link</a><br/>
                            <a href="">Bootsnipp Profile</a><br/>
                            <a href="">Bootply Profile</a>
                            <p>SKILLS</p>
                            <a href="">Web Designer</a><br/>
                            <a href="">Web Developer</a><br/>
                            <a href="">WordPress</a><br/>
                            <a href="">WooCommerce</a><br/>
                            <a href="">PHP, .Net</a><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.telephone}}</p>
                                            </div>
                                        </div>
                                        {% ifequal user.role 'employer'  %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>city</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.city}} </p>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>address</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.address}} </p>
                                            </div>
                                        </div>
                                        {% endifequal %}

                                        {% if bday %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>age</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{bday}} </p>
                                            </div>
                                        </div>
                                        {%endif%}
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Experience</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Hourly Rate</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>10$/hr</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Total Projects</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>230</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>English Level</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Availability</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>6 months</p>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br/>
                                        <p>Your detail description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                    </div>
                    {% ifequal user.role 'employee'  %}

                        <div class="container">

                    <!--                    binging of the cv row-->
                        <div class="row">

                          <div class="col-sm-4" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 211px; width:359px ; background: #e6e6e6;">
                            <div class="card">
                              <div class="card-body addcv">

                                  <a href="{% url 'jobapp:newCV'%}" class="btn-u tooltips add-cv-btn" data-toogle="tooltip" title="Add new cv"> <i class="fa fa-plus fa-2x"></i><p>New cv</p> </a>
                              </div>
                            </div>
                          </div>

                    </div>
<!--                    end of cv rows-->

<!--                    biginng of the cv row-->

                        <div class="row mt-2">
                            {% for cv in cvs %}
                          <div class="col-sm-4">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">{{cv.name}}</h5>
                                <p class="card-text">
<!--                                    hidden text-->
                                </p>
                                  <p class="card-text">
                                    <a href="{% url 'jobapp:addNewExperience' cv.name%}" class="btn btn-primary">Add new Experience</a>
                                  </p>
                                  <p class="card-text">
                                    <a href="{% url 'jobapp:addNewFormation' cv.name%}" class="btn btn-primary">Add new Formation</a>
                                  </p>
                                  <p class="card-text center">
                                    <a href="{% url 'jobapp:addNewSkill' cv.name%}" class="btn btn-primary">Add new Competence <a>
                                  </p>
                                  <p class="card-text center">
                                    <a href="{% url 'jobapp:makeDefault' cv.name%}" class="btn btn-primary">Make default <a>
                                  </p>

                              </div>
                            </div>
                          </div>
                            {% endfor%}


                    </div>
<!--                    end of cv rows-->

                </div>
                    {% endifequal%}

                </div>

            </form>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5">
                {% include 'messages.html' %}

                <div class="card">
                    {% if user.role == "employer" %}
                    <h5 class="card-header text-center">My All Job</h5>
                    {% if jobs %}
                    <table class="table text-center mt-5">
                        <thead class="thead-dark">
                            <tr>
                                <th>Job Title</th>
                                <th>Posted Date</th>
                                <th>Date expiring</th>
                                <th>Status</th>
                                <th>Applicants</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                            <tr id="row_{{ job.id }}">
                                <td class="text-left"><a href="{% url 'jobapp:single-job' job.id %}">{{ job.title }}</a></td>
                                <td>{{ job.timestamp | date:'M d, Y'  }}</td>
                                <td>{{ job.last_date | date:'M d, Y' }}</td>
                                <td>
                                    {% if job.is_published == True %}

                                        <span class="badge badge-info">Published</span>

                                    {% else %}

                                        <span class="badge badge-danger px-2">Pending</span>

                                    {% endif %}

                                </td>

                                <td>

                                    {% get_total_applicant total_applicants job as is_applicant %}

                                    {% if is_applicant %}
                                    <a href="{% url 'jobapp:applicants' job.id %}">
                                        <i class="fa fa-users"></i>
                                        <span class="badge badge-success text-white">


                                            {% if is_applicant > 1 %}


                                            {% get_total_applicant total_applicants job %} Applicants

                                            {% else %}

                                            {% get_total_applicant total_applicants job %} Applicant

                                            {% endif %}

                                        </span>

                                    </a>
                                    {% endif %}

                                </td>
                                <td>
                                    <a class="btn btn-info btn-sm" href="{% url 'jobapp:edit-job' job.id %}"
                                        role="button">Edit</a>
                                    {% if job.is_published == True %}
                                        {% if job.is_closed == False %}
                                        <span id="change_job_status_{{ job.id }}">
                                            <button onclick="call_sw_alert_func('{% url 'jobapp:complete' job.id %}','{{ job.id }}', 'Once Clicked, Your Post Will Marked Completed')" class="text-white btn btn-success btn-sm" >Make Close</button>
                                        </span>
                                        {% else %}
                                        <a class="text-white btn btn-success btn-sm"
                                        role="button">Closed</a>
                                        {% endif %}
                                        {% endif %}
                                    <button onclick="call_sw_alert_func('{% url 'jobapp:delete' job.id %}','{{ job.id }}','Once Deleted, You Will Not be Able To Recover This Post!')" class="btn btn-danger btn-sm">Delete</button>
                                    </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p class="m-5">You have not any job yet !! <a href="{% url 'jobapp:create-job' %}">Create a new one.</a></p>
                    {% endif %}
                    {% elif user.role == "employee" %}


                    <ul class="mb-3 nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home" aria-selected="true">Bookmarked Job</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile" aria-selected="false">Aplied Job</a>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab">
                            <h5 class="card-header text-center">Bookmarked Posts</h5>
                            {% if savedjobs %}
                            <table class="table text-center mt-5">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Job Title</th>
                                        <th>Posted Date</th>
                                        <th>Date expiring</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for job in savedjobs %}
                                    <tr id="row_{{ job.id }}">
                                        <td><a href="{% url 'jobapp:single-job' job.job.id %}">{{ job.job.title }}</a></td>
                                        <td>{{ job.timestamp | date:'M d, Y'  }}</td>
                                        <td>{{ job.job.last_date | date:'M d, Y' }}</td>
                                        <td>
                                            <button onclick="call_sw_alert_func('{% url 'jobapp:delete-bookmark' job.id %}','{{ job.id }}','Once Deleted, This Post Will Remove From Your Favourite List!')" class="btn btn-danger btn-sm">Delete</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <p class="m-5">You have not any save job yet !! </p>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade show" id="profile1" role="tabpanel" aria-labelledby="profile-tab">
                            <h5 class="card-header text-center">Aplied Posts</h5>
                            {% if appliedjobs %}
                            <table class="table text-center mt-5">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Job Title</th>
                                        <th>Posted Date</th>
                                        <th>Date expiring</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for job in appliedjobs %}
                                    <tr id="row_{{ job.id }}">
                                        <td><a href="{% url 'jobapp:single-job' job.job.id %}">{{ job.job.title }}</a></td>
                                        <td>{{ job.timestamp | date:'M d, Y'  }}</td>
                                        <td>{{ job.job.last_date | date:'M d, Y' }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <p class="m-5">You have not any applied job yet !! </p>
                            {% endif %}
                        </div>

                      </div>

                    {% endif %}

                </div>
            </div>
        </div>

    </div>


    </div>
    </div>
</section>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/sweet-alert.js' %}"></script>
    <script src="{% static 'js/sweet-alert-ajax.js' %}"></script>
{% endblock %}


