{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image"
  style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white font-weight-bold">Validation requests</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Validation list</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
    <table class="table table-hover">
        <thead>
      <tr>
        <th>Resume Name </th>
        <th>Is validated </th>
        <th>Receive date</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
 {% for validation in validationRequest %}
     <tr>
        <td>{{validation.cv}}</td>
         {% if validation.is_validated %}
         <td>Validated</td>
         {% else %}
         <td>Not validated</td>
         {% endif%}
        <td>{{validation.timestamp}}</td>


         <td>
             <a class="btn btn-primary btn-sm" href="{% url 'jobapp:jobSeekerpasswordVerification' validation.cv.id %}" role="button">See details</a>


         </td>
      </tr>
       {% endfor %}
        </tbody>
  </table>
</section>

{% endblock %}